{% extends 'base.html' %}
{% block content %}

    <form method="post">
        <div class="row">
            <div class="col s6 offset-s3 grey-text"><h3>Login</h3></div>
            {% if error %}
                <div class="col s6 offset-s3"><p class="center red-text">{{ error }}</p></div>
            {% endif %}
            <div class="input-field col s6 offset-s3">
                <input id="username" name="username" type="text" required/>
                <label for="username">ID</label>
            </div>

            <div class="input-field col s6 offset-s3">
                <input id="password" name="password" type="password" required />
                <label for="password">PW</label>
            </div>

        </div>
        <div class="row">
            <div class="col s6 offset-s3">
                <button class="btn waves-effect waves-light right" type="submit" name="action">LOGIN
                </button>
            </div>
        </div>
    </form>
{% endblock %}